<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8" />
      <title>Gentleman's Clock: A networked game timer for any number of players</title>
      <link rel="stylesheet" type="text/css" href="css">
      <script type="text/javascript">
         // Local time - server time.
         Date.now||(Date.now=function(){return+new Date});
         window.serverTimeDiff = (+new Date) - <%=Date.now()%>;
         function serverToLocal(date) {
            return new Date(new Date(date).getTime() + window.serverTimeDiff);
         }
         function localToServer(date) {
            return new Date(new Date(date).getTime() - window.serverTimeDiff);
         }
      </script>
   <body>
      <div id="main" class="container-fluid">
         <div id="mainMenu" class="hidden">
            <div class="row-fluid">
               <div class="span12">
                  <h2>Gentleman's Clock</h2>
                  <p>
                  Gentleman's Clock is a <a href="http://en.wikipedia.org/wiki/Game_clock">game clock (i.e. chess clock)</a>
                  for any number of players.
                  </p>
                  <p>
                  A timer may be shared among multiple computers, tablets, or phones.
                  Each person playing has access to the timer
                  showing the current player and how much time everyone has.
                  </p>
               </div>
            </div>
            <div class="row-fluid">
               <div class="span12">
                  <a class="btn btn-primary startGame" href="#startGame">
                     <i class="icon-time"></i>
                     Start
                  </a>
               </div>
            </div>
            <div class="row-fluid">
               <div class="span12">
                  <form id="joinGameForm" class="joinGame">
                     <fieldset>
                        <div class="input-append">
                           <input type="text" name="joinCode" id="joinCodeInput" class="input-small" placeholder="Join Code" maxlength="5">
                           <button class="btn btn-success btn-large">
                              <i class="icon-group"></i>
                              Join
                           </button>
                        </div>
                     </fieldset>
                  </form>
                  <!--
                  <a class="btn btn-info joinGame" href="#joinGame">
                     <i class="icon-group"></i>
                     Join
                  </a>
                  -->
               </div>
            </div>
            <div class="row-fluid">
               <div class="span12">
                  <h3>Usage</h3>
                  <p>
                  Click Start to set up a new timer.
                  Select the time per turn and time per game.
                  Each player's time per turn resets at the beginning of their turn, but
                  a player's time per game never resets.
                  Time per game doesn't start counting down until turn time runs out.
                  </p>
                  <p>
                  To share the game with other devices, click the gear button (yellow), then the Make Public button (blue).
                  Other players may click Join at the main screen and enter the generated join code.
                  Alternatively, after making the game public, new players may be added by
                  sending them the url of the game.
                  </p>
                  <h3>Time Suggestions</h3>
                  <p>
                  Time per turn is good for games that have long turns with potentially several actions.
                  Time per game is good for games that have shorter turns where most of the time is spent thinking, like chess.
                  A mix of the two is usually helpful to prevent a player from running down the clock by making fast, reckless moves.
                  </p>
                  <p>
                  Chess tournaments often include 5 seconds of time per turn in addition to 45 or more minutes per game.
                  Faster games of chess may use 10 minutes per game and 2 seconds per turn.
                  </p>
                  <h3>The Name</h3>
                  <p>
                  The name Gentleman's Clock is in the same vein as a Gentleman's Bet:
                  </p>
                  <blockquote>
                     "An arrangement or understanding which is based upon the trust of both or all parties, rather than being legally binding."
                  </blockquote>
                  <p>
                  Once, I was taking too long to make a move in a game with a friend, and he said "Tick... tock... gentleman's clock,"
                  encouraging me to move, even though we weren't using a real clock.
                  I liked the name, so I decided to use it for this project.
                  </p>
                  <h3>Author</h3>
                  <p>
                  My name is <a href="http://sterlinghirsh.com">Sterling Hirsh</a>. I'm a web developer living in Louisville, Kentucky.
                  If you have any questions, comments, suggestions or bug reports, <a href="mailto:sterling@sterlinghirsh.com">let me know!</a>
                  </p>
               </div>
            </div>
         </div>
         <div id="joinGameView" class="hidden">
            <!--
            <form id="joinGameForm" class="form-inline">
               <fieldset>
                  <h3>Enter Join Code</h3>
                  <div class="input-prepend input-append">
                     <input type="text" name="joinCode" id="joinCodeInput" class="input-small" placeholder="Join Code" maxlength="5">
                     <button class="btn btn-success btn-large">
                        <i class="icon-group"></i>
                        Join
                     </button>
                  </div>
                  <div class="row-fluid joinCancelHolder">
                     <div class="span12">
                        <a href="#" class="btn btn-info btn-large"><i class="icon-reply"></i> Cancel</a>
                     </div>
                  </div>
               </fieldset>
            </form>
            -->
         </div>
         <div id="joinError" class="hidden">
            <div class="row-fluid">
               <div class="span12">
                  <div class="alert alert-block alert-error fade in">
                     <h4 class="alert-heading">Error joining game</h4>
                     <p>
                        The requested game could not be joined.
                        The join code is probably invalid, but there might be a problem with the server.
                     </p>
                  </div>
               </div>
            </div>
            <div class="row-fluid">
               <div class="span12">
                  <a href="#" class="btn btn-danger btn-block">Main Menu</a>
               </div>
            </div>
         </div>
         <div id="gameList" class="hidden"></div>
         <div id="gameDetail" class="hidden">
            <div class="gameDisplay"></div>
            <div class="gameControlsHolder"></div>
            <div id="editPlayerFormHolder" class="modal hide fade" data-backdrop="true">
               <form id="editPlayerForm">
               </form>
            </div>
            <div id="gameSettingsFormHolder" class="modal hide fade" data-backdrop="true">
            </div>
         </div>
         <div id="newGame" class="hidden">
            <form id="newGameForm" class="form-horizontal">
               <fieldset>
                  <h3>Start a new game</h3>
                  <div class="control-group">
                     <label class="control-label" for="time_per_turn">Seconds per turn</label>
                     <div class="controls">
                        <input type="number" value="5" class="input-mini" name="time_per_turn" id="time_per_turn">
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="time_per_game">Seconds per game</label>
                     <div class="controls">
                        <input type="number" value="600" class="input-mini" name="time_per_game" id="time_per_game" step="15">
                     </div>
                  </div>
                  <div class="row-fluid">
                     <div class="span3">
                        <a class="btn btn-warning btn-block btn-large" href="#">
                           <i class="icon-reply"></i>
                           <span>
                              <span class="hidden-phone">Cancel</span>
                           </span>
                        </a>
                     </div>
                     <div class="span9">
                        <button class="btn btn-success btn-block btn-large">
                           <i class="icon-arrow-right"></i>
                           Create game!
                        </button>
                     </div>
                  </div>
               </fieldset>
            </form>
         </div>
      </div>
      <script type="text/javascript" src="js"></script>
   </body>
</html>

