<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8" />
      <title>Gentleman's Clock: A networked game timer for any number of players</title>
      <link rel="stylesheet" type="text/css" href="css">
      <script type="text/javascript">
         // Local time - server time.
         Date.now||(Date.now=function(){return+new Date});
         window.serverTimeDiff = (+new Date) - <%=Date.now()%>;
         function serverToLocal(date) {
            return new Date(new Date(date).getTime() + window.serverTimeDiff);
         }
         function localToServer(date) {
            return new Date(new Date(date).getTime() - window.serverTimeDiff);
         }
      </script>
   </head>
   <body>
      <div id="main" class="container-fluid">
         <div id="mainMenu" class="hidden">
            <div class="row-fluid">
               <div class="span12">
                  <div class="mainTitle">
                     <h3>
                        <span class="inTitle">G</span
                        ><span class="outTitle">entle</span
                        ><span class="inTitle">m</span
                        ><span class="outTitle">an's </span
                        ><span class="inTitle">Cl</span
                        ><span class="outTitle">oc</span
                        ><span class="inTitle">k</span>
                     </h3>
                     <h2>
                        <span class="inTitle">G</span
                        ><span class="outTitle">a</span
                        ><span class="inTitle">m</span
                        ><span class="outTitle">e</span
                        ><span class="inTitle">Cl</span
                        ><span class="outTitle">oc</span
                        ><span class="inTitle">k</span>
                     </h2>
                     <h4><a href="http://gmclk.com">(gmclk.com)</a></h4>
                  </div>

               </div>
            </div>
            <div class="row-fluid">
               <div class="span12">
                  <a class="btn btn-primary startGame" href="#startGame">
                     <i class="icon-time"></i>
                     Start
                  </a>
               </div>
            </div>
            <div class="row-fluid">
               <div class="span12">
                  <form id="joinGameForm" class="joinGame">
                     <fieldset>
                        <div class="input-append">
                           <input type="text" name="joinCode" id="joinCodeInput" class="input-small" placeholder="Join Code" maxlength="5">
                           <button class="btn btn-success btn-large">
                              <i class="icon-group"></i>
                              Join
                           </button>
                        </div>
                     </fieldset>
                  </form>
               </div>
            </div>
            <div class="row-fluid">
               <div class="span12">
                  <h3>About</h3>
                  <p>
                     Gentleman's Clock is a free, online
                     <a href="http://en.wikipedia.org/wiki/Game_clock">game timer (i.e. chess clock)</a>
                     for any number of players across multiple computers, 
                     tablets, or phones.
                  </p>
                  <h3>Usage</h3>
                  <p>
                  Click Start to set up a new timer.
                  Select the time per turn and time per game.
                  Each player's time per turn resets at the beginning of their turn, but
                  a player's time per game never resets.
                  Time per game doesn't start counting down until turn time runs out.
                  </p>
                  <p>
                  To share the game with other devices, click the options (gear) button, then the Make Public button.
                  Other players may join by clicking on the game url or entering the join code at the main screen.
                  </p>
                  <h3>Time Suggestions</h3>
                  <p>
                  Time per turn is good for games that have long turns with potentially several actions.
                  Time per game is good for games that have shorter turns where most of the time is spent thinking, like chess.
                  A mix of the two is usually helpful to prevent a player from running down the clock by making fast, reckless moves.
                  </p>
                  <p>
                  Chess tournaments often include 5 seconds of time per turn in addition to 45 or more minutes per game.
                  Faster games of chess may use 10 minutes per game and 2 seconds per turn.
                  </p>
                  <h3>The Name</h3>
                  <p>
                  The name Gentleman's Clock is in the same vein as a Gentleman's Bet:
                  </p>
                  <blockquote>
                     "An arrangement or understanding which is based upon the trust of both or all parties, rather than being legally binding."
                  </blockquote>
                  <p>
                  Once, while I took too long in a game, my friend said 
                  "Tick... tock... gentleman's clock."
                  I thought it was a funny, so I decided that's what I'd name this project.
                  </p>
                  <h3>Author</h3>
                  <p>
                  My name is <a href="http://sterlinghirsh.com">Sterling Hirsh</a>. I'm a web developer living in Louisville, Kentucky.
                  If you have any questions, comments, suggestions or bug reports, <a href="mailto:sterling@sterlinghirsh.com">let me know!</a>
                  </p>
                  <h3>Source Code</h3>
                  <p>
                  This project is open source. The code is available and
                  your contributions are welcome here:
                  <a href="https://github.com/sterlinghirsh/gentlemans-clock">Gentleman's Clock on GitHub</a>
                  </p>
               </div>
            </div>
         </div>
         <div id="joinError" class="hidden">
            <div class="row-fluid">
               <div class="span12">
                  <div class="alert alert-block alert-error fade in">
                     <h4 class="alert-heading">Error joining game</h4>
                     <p>
                        The requested game could not be joined.
                        The join code is probably invalid, but there might be a problem with the server.
                     </p>
                  </div>
               </div>
            </div>
            <div class="row-fluid">
               <div class="span12">
                  <a href="#" class="btn btn-danger btn-block">Main Menu</a>
               </div>
            </div>
         </div>
         <div id="gameList" class="hidden"></div>
         <div id="gameDetail" class="hidden">
            <div class="gameDisplay"></div>
            <div class="gameControlsHolder"></div>
            <div id="editPlayerFormHolder" class="modal hide fade" data-backdrop="true">
               <form id="editPlayerForm">
               </form>
            </div>
            <div id="gameSettingsFormHolder" class="modal hide fade" data-backdrop="true">
            </div>
         </div>
         <div id="newGame" class="modal hide fade" data-backdrop="true">
            <form id="newGameForm">
               <fieldset>
                  <h3>Start a new game</h3>
                  <div class="control-group directionControls">
                     <label>
                        <input type="radio" class="radio" name="clockDirection" value="down" checked="checked">
                        Count down
                     </label>
                     <label>
                        <input type="radio" class="radio" name="clockDirection" value="up">
                        Count up
                     </label>
                  </div>
                  <div class="clockTimeInputs">
                     <div class="control-group">
                        <label class="control-label" for="time_per_turn">Time per turn</label>
                        <div class="controls">
                           <span class="time_per_turn">
                              <input type="number" max="99" min="0" class="hoursInput" name="hours_per_turn" value="0"
                              >:<input type="number" max="59" min="0" class="minutesInput" name="mins_per_turn" value="00"
                              >:<input type="number" max="59" min="0" class="secondsInput" name="secs_per_turn" value="05">
                           </span>
                        </div>
                     </div>
                     <div class="control-group">
                        <label class="control-label" for="time_per_game">Time per game</label>
                        <div class="controls">
                           <span class="time_per_turn">
                              <input type="number" max="99" min="0" class="hoursInput" name="hours_per_game" value="0"
                              >:<input type="number" max="59" min="0" class="minutesInput" name="mins_per_game" value="15"
                              >:<input type="number" max="59" min="0" class="secondsInput" name="secs_per_game" value="00">
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row-fluid">
                     <div class="span3">
                        <a class="btn btn-warning btn-block btn-large" data-dismiss="modal" href="#">
                           <i class="icon-reply"></i>
                        </a>
                     </div>
                     <div class="span9">
                        <button class="btn btn-success btn-block btn-large">
                           <i class="icon-arrow-right"></i>
                           Create game!
                        </button>
                     </div>
                  </div>
               </fieldset>
            </form>
         </div>
      </div>
      <script type="text/javascript" src="js"></script>
   </body>
</html>
