@modalWidth: 300px;
@controlsHeight: 102px;

body {
   background-color: #ddd;
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
   background-color: @startColor;
   background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
   background-image: -webkit-linear-gradient(left, @startColor, @endColor);
   background-image: -moz-linear-gradient(left, @startColor, @endColor);
   background-image: -ms-linear-gradient(left, @startColor, @endColor);
   background-image: -o-linear-gradient(left, @startColor, @endColor);
}

#mainMenu {
   .startGame {
      height: 60%;
      width: 100%;
      line-height: 60px;
      padding-left: 0;
      padding-right: 0;
      font-size: 40px;
      margin-top: 0px;
   }

   #joinGameForm {
      margin-top: 10px;
      margin-bottom: 0px;

      fieldset {
         width: 100%;
      }

      input {
         font-size: 20px;
         line-height: 30px;
         height: 30px;
         width: 48%;
         padding-left: 1%;
         padding-right: 1%;
      }

      button {
         font-size: 20px;
         line-height: 30px;
         height: 40px;
         width: 50%;
         padding: 4px 0px;
      }

      div.input-append {
         display: block;
         margin-bottom: 0px;
      }

      .halfWidth {
         width: 50%;
         display: inline-block;
      }
   }
}

.nextPlayerButton {
   font-size: 69px;
}

.gameControlsHolder {
   position: absolute;
   padding: 1px 10px 1px 10px;
   left: 0;
   right: 0;
   bottom: 0;
}
.gameControls {
   .span2 {
      .row-fluid {
         margin-bottom: 5px;
      }
      
      .row-fluid:last-child {
         margin-bottom: 5px;
      }
   }
}

.hidden {
   display: none;
}

.gameDisplay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding: 1px 10px 1px 10px;
   bottom: @controlsHeight;
   overflow: auto;

   .playersHolder {
      position: relative;
   }
}

.players {
   margin-left: 0;
   margin-bottom: 0;
   li {
      padding: 2px;
      border-width: 2px;
      border-style: solid;
      .rounded(3px);
      list-style-type: none;
      margin-bottom: 5px;
      .transition(.2s, ease-out);
      font-weight: bold;
   }

   li.playing {
      border-width: 6px;
      font-size: 150%;
      line-height: 150%;
      .drop-shadow(0px, 1px, 4px, 0.5);
      margin-left: 1px;
   }

   .player-colors (@c1, @c2, @ctext) {
      .horizontal-gradient(@c1, @c2);
      border-color: @c1;
      color: @ctext;
   }

   .red {
      .player-colors(#c33, #e99, #fff);
   }

   .blue {
      .player-colors(#33c, #99e, #fff);
   }

   .green {
      .player-colors(#1a1, #6c6, #fff);
   }

   .black {
      .player-colors(#000, #666, #fff);
   }

   .white {
      .player-colors(#fff, #ccc, #000);
   }

   .yellow {
      .player-colors(#ff1, #ee9, #000);
   }

   .gray {
      .player-colors(#999, #333, #fff);
   }

   .tan {
      .player-colors(#E9C2A6, #FFF5EE, #000);
   }

   .pink {
      .player-colors(#c3c, #e9e, #fff);
   }
}

#editPlayerFormHolder {
   padding: 5px;
   width: @modalWidth;
   margin-left: (-@modalWidth / 2);

   #editPlayerForm {
      margin-bottom: 0px;

      .row-fluid {
         margin-top: 5px;
      }

      legend {
         line-height: 30px;
         margin-bottom: 5px;
      }

      @media (max-height: 300px) {
         .btn {
            padding: 2px 0;
         }

         .row-fluid {
            margin-top: 0px;
         }
      }
   }
}

#gameSettingsFormHolder {
   padding: 5px;
   width: @modalWidth;
   margin-left: (-@modalWidth / 2);
}

.bootbox {
   padding: 5px;
   width: @modalWidth;
   margin-left: (-@modalWidth / 2);
   z-index: 1070;
}

.bootbox + .modal-backdrop {
   z-index: 1060;
}

.btn, .player {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   user-select: none;
}

.container-fluid {
   padding-right: 10px;
   padding-left: 10px;
}

.inTitle {
   color: #eee;
   text-transform: uppercase;
}

.outTitle {
   color: #999;
   font-weight: normal;
   text-transform: uppercase;
}

.mainTitle {
   text-align: center;
   .gradient(#222, #000, #333);
   margin: 0 -10px 10px -10px;
   padding: 5px;
   
   h2 {
      margin-bottom: 0px;
      margin-top: 0px;
   }

   h3 {
      margin-top: 10px;
      line-height: 30px;
      margin-bottom: 0px;
   }
   
   h4 {
      margin-top: 0px;
      line-height: 30px;
      margin-bottom: 0px;
   }
}

* {
   -webkit-tap-highlight-color: transparent;
}

@media (max-height: 300px) {
   .visible-tall {
      display: none;
   }
   .hidden-short {
      display: none;
   }
}

@media (min-height: 300px) {
   .hidden-tall {
      display: none;
   }
   .visible-short {
      display: none;
   }
}
