#mainMenu .startGame {
  height: 60%;
  width: 100%;
}
#mainMenu .joinGame {
  height: 30%;
  width: 100%;
}
#mainMenu .joinGame,
#mainMenu .startGame {
  padding-left: 0;
  padding-right: 0;
  font-size: 72px;
  line-height: 100px;
  margin-top: 10px;
}
.nextPlayerButton {
  font-size: 69px;
}
.gameControls .span2 .row-fluid {
  margin-bottom: 5px;
}
.gameControls .span2 .row-fluid:last-child {
  margin-bottom: 5px;
}
.hidden {
  display: none;
}
