/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background-color: #ddd;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#mainMenu .startGame {
  height: 60%;
  width: 100%;
  line-height: 60px;
  padding-left: 0;
  padding-right: 0;
  font-size: 40px;
  margin-top: 0px;
}
#mainMenu #joinGameForm {
  margin-top: 10px;
  margin-bottom: 0px;
}
#mainMenu #joinGameForm fieldset {
  width: 100%;
}
#mainMenu #joinGameForm input {
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  width: 48%;
  padding-left: 1%;
  padding-right: 1%;
}
#mainMenu #joinGameForm button {
  font-size: 20px;
  line-height: 30px;
  height: 40px;
  width: 50%;
  padding: 4px 0px;
}
#mainMenu #joinGameForm div.input-append {
  display: block;
  margin-bottom: 0px;
}
#mainMenu #joinGameForm .halfWidth {
  width: 50%;
  display: inline-block;
}
.nextPlayerButton {
  font-size: 69px;
}
.gameControlsHolder {
  position: absolute;
  padding: 1px 10px 1px 10px;
  left: 0;
  right: 0;
  bottom: 0;
}
.gameControls .span2 .row-fluid {
  margin-bottom: 5px;
}
.gameControls .span2 .row-fluid:last-child {
  margin-bottom: 5px;
}
.hidden {
  display: none;
}
.gameDisplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1px 10px 1px 10px;
  bottom: 102px;
  overflow: auto;
}
.gameDisplay .playersHolder {
  position: relative;
}
.players {
  margin-left: 0;
  margin-bottom: 0;
}
.players li {
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: none;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-weight: bold;
}
.players li.playing {
  border-width: 6px;
  font-size: 150%;
  line-height: 150%;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  margin-left: 1px;
}
.players .red {
  background-color: #cc3333;
  background-image: -webkit-gradient(linear, left top, right top, from(#cc3333), to(#ee9999));
  background-image: -webkit-linear-gradient(left, #cc3333, #ee9999);
  background-image: -moz-linear-gradient(left, #cc3333, #ee9999);
  background-image: -ms-linear-gradient(left, #cc3333, #ee9999);
  background-image: -o-linear-gradient(left, #cc3333, #ee9999);
  border-color: #cc3333;
  color: #ffffff;
}
.players .blue {
  background-color: #3333cc;
  background-image: -webkit-gradient(linear, left top, right top, from(#3333cc), to(#9999ee));
  background-image: -webkit-linear-gradient(left, #3333cc, #9999ee);
  background-image: -moz-linear-gradient(left, #3333cc, #9999ee);
  background-image: -ms-linear-gradient(left, #3333cc, #9999ee);
  background-image: -o-linear-gradient(left, #3333cc, #9999ee);
  border-color: #3333cc;
  color: #ffffff;
}
.players .green {
  background-color: #11aa11;
  background-image: -webkit-gradient(linear, left top, right top, from(#11aa11), to(#66cc66));
  background-image: -webkit-linear-gradient(left, #11aa11, #66cc66);
  background-image: -moz-linear-gradient(left, #11aa11, #66cc66);
  background-image: -ms-linear-gradient(left, #11aa11, #66cc66);
  background-image: -o-linear-gradient(left, #11aa11, #66cc66);
  border-color: #11aa11;
  color: #ffffff;
}
.players .black {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(#666666));
  background-image: -webkit-linear-gradient(left, #000000, #666666);
  background-image: -moz-linear-gradient(left, #000000, #666666);
  background-image: -ms-linear-gradient(left, #000000, #666666);
  background-image: -o-linear-gradient(left, #000000, #666666);
  border-color: #000000;
  color: #ffffff;
}
.players .white {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#cccccc));
  background-image: -webkit-linear-gradient(left, #ffffff, #cccccc);
  background-image: -moz-linear-gradient(left, #ffffff, #cccccc);
  background-image: -ms-linear-gradient(left, #ffffff, #cccccc);
  background-image: -o-linear-gradient(left, #ffffff, #cccccc);
  border-color: #ffffff;
  color: #000000;
}
.players .yellow {
  background-color: #ffff11;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffff11), to(#eeee99));
  background-image: -webkit-linear-gradient(left, #ffff11, #eeee99);
  background-image: -moz-linear-gradient(left, #ffff11, #eeee99);
  background-image: -ms-linear-gradient(left, #ffff11, #eeee99);
  background-image: -o-linear-gradient(left, #ffff11, #eeee99);
  border-color: #ffff11;
  color: #000000;
}
.players .gray {
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, right top, from(#999999), to(#333333));
  background-image: -webkit-linear-gradient(left, #999999, #333333);
  background-image: -moz-linear-gradient(left, #999999, #333333);
  background-image: -ms-linear-gradient(left, #999999, #333333);
  background-image: -o-linear-gradient(left, #999999, #333333);
  border-color: #999999;
  color: #ffffff;
}
.players .tan {
  background-color: #e9c2a6;
  background-image: -webkit-gradient(linear, left top, right top, from(#e9c2a6), to(#fff5ee));
  background-image: -webkit-linear-gradient(left, #e9c2a6, #fff5ee);
  background-image: -moz-linear-gradient(left, #e9c2a6, #fff5ee);
  background-image: -ms-linear-gradient(left, #e9c2a6, #fff5ee);
  background-image: -o-linear-gradient(left, #e9c2a6, #fff5ee);
  border-color: #e9c2a6;
  color: #000000;
}
.players .pink {
  background-color: #cc33cc;
  background-image: -webkit-gradient(linear, left top, right top, from(#cc33cc), to(#ee99ee));
  background-image: -webkit-linear-gradient(left, #cc33cc, #ee99ee);
  background-image: -moz-linear-gradient(left, #cc33cc, #ee99ee);
  background-image: -ms-linear-gradient(left, #cc33cc, #ee99ee);
  background-image: -o-linear-gradient(left, #cc33cc, #ee99ee);
  border-color: #cc33cc;
  color: #ffffff;
}
#editPlayerFormHolder {
  padding: 5px;
  width: 300px;
  margin-left: -150px;
}
#editPlayerFormHolder #editPlayerForm {
  margin-bottom: 0px;
}
#editPlayerFormHolder #editPlayerForm .row-fluid {
  margin-top: 5px;
}
#gameSettingsFormHolder {
  padding: 5px;
  width: 300px;
  margin-left: -150px;
}
.bootbox {
  padding: 5px;
  width: 300px;
  margin-left: -150px;
  z-index: 1070;
}
.bootbox + .modal-backdrop {
  z-index: 1060;
}
.btn,
.player {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
}
.inTitle {
  color: #eee;
  text-transform: uppercase;
}
.outTitle {
  color: #999;
  font-weight: normal;
  text-transform: uppercase;
}
.mainTitle {
  text-align: center;
  background: #222222;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #333333));
  background: -ms-linear-gradient(bottom, #000000, #333333);
  background: -moz-linear-gradient(center bottom, #000000 0%, #333333 100%);
  background: -o-linear-gradient(#333333, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
  margin: 0 -10px 10px -10px;
  padding: 5px;
}
.mainTitle h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.mainTitle h3 {
  margin-top: 10px;
  line-height: 30px;
  margin-bottom: 0px;
}
.mainTitle h4 {
  margin-top: 0px;
  line-height: 30px;
  margin-bottom: 0px;
}
* {
  -webkit-tap-highlight-color: transparent;
}
