<fieldset>
   <legend class="hidden-short"><%-name%></legend>
   <div class="row-fluid">
      <div class="span6">
         <label for="playerName" class="hidden-short">Name</label>
         <input type="text" value="<%-name%>" class="input-block-level" maxlength="12"
          id="playerName" name="name">
      </div>
      <div class="span6">
         <label for="playerColor" class="hidden-short">Color</label>
         <select name="color" id="playerColor" class="input-block-level">
            <% for (var i = 0; i < validColors.length; ++i) { %>
            <option class="<%-validColors[i]%>" value="<%-validColors[i]%>"
            <%= color == validColors[i] ? 'selected' : '' %>>
               <%-_.capitalize(validColors[i])%>
            </option>
            <% } %>
         </select>
      </div>
   </div>
   <div class="row-fluid">
      <div class="span2">
         <a class="btn btn-large btn-block btn-inverse" data-dismiss="modal" ><i class="icon-reply"></i></a>
      </div>
      <div class="span10">
         <button type="submit" class="btn btn-success btn-large btn-block"><i class="icon-save"></i> Save</button>
      </div>
   </div>
   <div class="row-fluid">
      <div class="span2">
         <a class="btn btn-danger btn-large btn-block" id="removePlayerButton"><i class="icon-trash"></i></a>
      </div>
      <div class="span5">
         <a class="movePlayerUpButton btn btn-large btn-block btn-warning <%- positionInfo.position == 0 ? 'disabled' : ''%>">
            <i class="icon-arrow-up"></i> Up
         </a>
      </div>
      <div class="span5">
         <a class="movePlayerDownButton btn btn-large btn-block btn-warning <%- positionInfo.position == positionInfo.max ? 'disabled' : ''%>">
            <i class="icon-arrow-down"></i> Down
         </a>
      </div>
   </div>

   <div class="row-fluid">
   </div>
</fieldset>
